[package]
name = "light-curve-python"
version = "0.7.1"
authors = ["Konstantin Malanchev <hombit@gmail.com>", "Anastasia Lavrukhina <lavrukhina.ad@gmail.com>"]
description = "Feature extractor from noisy time series"
readme = "README.md"
repository = "https://github.com/light-curve/light-curve-python"
license = "GPL-3.0-or-later"
edition = "2021"
rust-version = "1.62"

[lib]
name = "light_curve"
crate-type = ["cdylib"]

[profile.release]
lto = true
codegen-units = 1

[features]
default = ["ceres-source", "fftw-source", "gsl"]
ceres-source = ["light-curve-feature/ceres-source"]
ceres-system = ["light-curve-feature/ceres-system"]
fftw-source = ["light-curve-feature/fftw-source"]
fftw-system = ["light-curve-feature/fftw-system"]
fftw-mkl = ["light-curve-feature/fftw-mkl"]
gsl = ["light-curve-feature/gsl"]

[dependencies]
# it is a dependency of intel-mkl-tool, we pin it to temporary solve
# https://github.com/rust-math/intel-mkl-src/issues/68
anyhow = "<1.0.49"
const_format = "0.2.30"
conv = "0.3.3"
enum-iterator = "0.8.1,<1.0.0" # 1.0.0 requires MSRV 1.61
enumflags2 = { version = "0.7.5", features = ["serde"] }
itertools = "0.10.5"
macro_const = "0.1.0"
ndarray = { version = "0.15.3", features = ["rayon"] }
numpy = "0.18.0"
num_cpus = "1.13.0"
num-traits = "0.2"
pyo3 = {version = "0.18.2", features = ["extension-module", "multiple-pymethods"]}
rand = "0.8.5"
rand_xoshiro = "0.6.0"
thiserror = "1.0.37"
serde = { version = "1", features = ["derive"] }
serde-pickle = "1"
rayon = "1.6.1"
unzip3 = "1.0.0"

[dependencies.light-curve-dmdt]
version = "0.7.1"
features = ["serde"]

[dependencies.light-curve-feature]
version = "0.5.5"
default_features = false
