name: Publish Python packages

on:
  push:
    tags:
    push:
  pull_request:
  repository_dispatch:
  workflow_dispatch:

jobs:
  check-version:
    name: Check the tag corresponds to the crate version
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6
      - name: Check Cargo.toml version vs Git tag
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: ./light-curve
        run: |
          cargo read-manifest | jq -r '.version' > /tmp/.crate_version
          echo '${{ github.ref_name }}' | sed 's/^v//' > /tmp/.tag
          diff /tmp/.crate_version /tmp/.tag

  cibuildwheel:
    name: Build ${{ matrix.cibw_build }}
    runs-on: ${{ matrix.os }}

    needs: check-version

    defaults:
      run:
        working-directory: ./light-curve

    strategy:
      fail-fast: false
      matrix:
        # CIBW_BUILD identifiers from https://cibuildwheel.readthedocs.io/en/stable/options/#build-skip
        # We use the same order as in the table
        # * For Windows we support amd64 only
        # * For Linux we support ARM64 and x86_64
        # * For macOS we support x86_64 (macos-15-intel runner) and ARM64 (macos-14 runner)
        # * We build wheels for CPython only, one per platform, compatible with ABI3.9
        include:
          # CPython 3.9
          - os: macos-15-intel
            cibw_build: cp39-macosx_x86_64
          - os: macos-14
            cibw_build: cp39-macosx_arm64
          - os: windows-2025
            cibw_build: cp39-win_amd64
          - os: ubuntu-24.04
            cibw_build: cp39-manylinux_x86_64
          - os: ubuntu-24.04
            cibw_build: cp39-musllinux_x86_64
          - os: ubuntu-24.04-arm
            cibw_build: cp39-manylinux_aarch64
          - os: ubuntu-24.04-arm
            cibw_build: cp39-musllinux_aarch64

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      # macOS runners need Homebrew paths set up
      - name: Set up Homebrew paths on macOS
        if: ${{ runner.os == 'macOS' }}
        run: |
          echo "CPATH=$(brew --prefix)/include:$(brew --prefix)/include/eigen3:${CPATH}" >> $GITHUB_ENV
          echo "LIBRARY_PATH=$(brew --prefix)/lib:$(brew --prefix)/lib64:${LIBRARY_PATH}" >> $GITHUB_ENV

      - name: Set MACOSX_DEPLOYMENT_TARGET to the current macOS version
        if: ${{ runner.os == 'macOS' }}
        run: |
          export MACOSX_DEPLOYMENT_TARGET=$(sw_vers -productVersion | awk -F '.' '{print $1"."0}')
          echo "MACOSX_DEPLOYMENT_TARGET=${MACOSX_DEPLOYMENT_TARGET}" >> $GITHUB_ENV

      # We only support AMD64 architecture for Windows, so we hard-code it here.
      - name: Set CIBW envs on Windows
        if: ${{ runner.os == 'Windows' }}
        run: |
          "CIBW_BUILD=${{ matrix.cibw_build }}" >> $env:GITHUB_ENV
          "CIBW_ARCHS=AMD64" >> $env:GITHUB_ENV

      - name: Set CIBW envs on Linux or macOS
        if: ${{ runner.os != 'Windows' }}
        run: |
          echo "CIBW_BUILD=${{ matrix.cibw_build }}" >> $GITHUB_ENV
          CIBW_ARCHS=$(echo ${{ matrix.cibw_build }} | cut -d'_' -f2,3)
          echo "CIBW_ARCHS=${CIBW_ARCHS}" >> $GITHUB_ENV

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        with:
          package-dir: ./light-curve
        env:
          CIBW_BUILD_VERBOSITY: "3"

      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v5
        with:
          path: ./wheelhouse/*.whl
          if-no-files-found: error
          name: artifact_${{ matrix.cibw_build }}

  sdist:
    name: Build source distribution
    runs-on: ubuntu-slim

    defaults:
      run:
        working-directory: ./light-curve

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install maturin
        run: pip install 'maturin>=1.0,<2.0'

      - name: Build sdist
        run: maturin sdist

      - name: Upload sdist as an artifact
        uses: actions/upload-artifact@v5
        with:
          path: ./light-curve/target/wheels/*.tar.gz
          if-no-files-found: error
          name: artifact_sdist

  publish:
    needs: [ cibuildwheel, sdist ]

    name: Publish light-curve
    runs-on: ubuntu-slim

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: artifact_*
          merge-multiple: true
          path: artifact

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install twine
        run: pip install twine

      - name: Publish light-curve for a new version tag
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: artifact
        run: twine upload *whl *tar.gz -u __token__ -p ${{ secrets.PYPI_TOKEN_LIGHT_CURVE }} --verbose

  publish-light-curve-python:
    needs: publish

    name: Publish light-curve-python
    runs-on: ubuntu-slim

    defaults:
      run:
        working-directory: light-curve-python

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install deps
        run: python3 -mpip install setuptools toml twine

      - name: Publish light-curve-python for a new version tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          python3 setup.py sdist
          twine check --strict dist/*
          twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN_LIGHT_CURVE_PYTHON }} --verbose
